[2011-08-23 14:33] mihaild opened #1 "Long options don't work"
Hi.
In current versions long options will never work. This is a path to fix it: https://gist.github.com/1165284.

[2011-08-27 23:42] #1 closed, assigned to veged

[2011-09-01 11:00] arikon opened #2 "API for empty option value checks"
[code]

[2011-09-01 11:06] arikon opened #3 "Problem with Opt.req()"
Если есть хотя бы одна из опций с req() и есть какой-нибудь --version, запуск ./cmd --version будет фейлиться из-за отсутствующей опции с req()

[2011-09-23 09:11] arikon opened #5 "API for command like options (--help, --version)"
Нужна возможность реализовывать опции-комманды вроде --help и --version.
Выполнение act() для этих опций должно прерывать цепочку всех действий команды, но не завершать выполнение команды с ошибкой. Поэтому this.reject() не подходит.

Кроме прочего не хочется сильно усложнять существующий API и хочется попробовать вписать это в Promises API.

Варианты такие.
1. Использоваться в качестве результата

[2011-09-23 11:54] arikon opened #7 "Subcommands don't work at all"
Минимальный пример, показывающий, что команды совсем не работают:

[code]

[2011-09-27 09:53] #7 closed, assigned to nobody

[2011-09-27 09:53] #5 closed, assigned to nobody

[2011-09-27 09:53] #3 closed, assigned to nobody

[2011-10-30 21:08] arikon opened #12 "Bump up node version deps"
bem-tools can now work with node 0.5+, but coa strictly depends on `node ~0.4.0`, that prevents bem-tools from installing on node 0.5.x.

Need to bump up node version dependence to:

[code]

[2011-12-21 19:45] #12 closed, assigned to nobody

[2011-12-21 19:47] arikon opened #14 "Postpone `process.exit()` call to 'natural' node.js exit stage"
Demo of problem, see comment inside code block:

[code]

[2011-12-21 20:33] #14 closed, assigned to nobody

[2012-04-03 17:46] arikon opened #15 "Variadic options"
I want to add variadic options support to COA.

What is a preferred solution?
- add `Cmd` flag-method like `allowAny()`, that will translate all specified cmd options to `opts` regardless of there existence in the command description
- add `Opt` flag-method like `prefixed()`, that will translate all the options with common prefix that equals to `opt` name to `opts.<opt-name>` object as properties

[2012-04-11 08:09] veged opened #16 "Write examples for shell completion feature"

[2012-04-11 08:10] veged opened #17 "Write examples for using as module through API feature"

[2012-08-06 10:34] arikon opened #18 "Add ability to add options to an option (nested options)"

[2012-08-06 10:35] arikon opened #19 "Add ability to match options by pattern"

[2012-08-06 10:35] #15 closed, assigned to nobody

[2012-09-01 13:27] arikon opened #21 "Support node 0.8.x"

[2012-10-03 21:19] arikon opened #22 "Rewrite tests to mocha"

[2012-10-15 15:52] ignovak opened #23 "req() option doesn't affect help sheet"
Consider such code:

[code]

When I add the "req()" method to an option, I expect to get a kind of hint on the help sheet, that the option is required. However, I get the same descriptions for different kinds of options.

[code]

[2012-10-19 22:03] arikon opened #24 "Fail on rejected promise returned from Opt.val() and Arg.val() when using commands through API"

[2012-10-19 22:20] #21 closed, assigned to arikon

[2012-10-19 22:20] #23 closed, assigned to arikon

[2012-10-19 22:20] #24 closed, assigned to arikon

[2012-10-29 07:49] #22 closed, assigned to arikon

[2012-10-29 08:49] arikon opened #26 "Aliases support (inspired by git)"
One could define alias as `cb = create -b` and invoke `bem cb block`. COA should resolve `cb` alias and invoke `bem create -b block` command.

Also think of shell completion for aliases.

[2012-10-29 08:53] arikon opened #27 "Custom commands support (inspired by git)"
One could run `bem my` and COA should try to search for `bem-cmd-my` module and if not found for binary `bem-my` in `PATH` and run the found one.

Also think of shell completion for custom commands.

[2012-10-30 19:42] arikon opened #28 "Implement shell completion for fs paths"
We could implement `fsPath(glob)` (or something) helper for `Opt` and `Arg` that will add shell completion for the opt/arg on fs paths.

[2012-11-01 21:37] arikon opened #29 "Wrong escaping of completion results with spaces in zsh"
[code]

There should be now `\` before `"`.

[2012-11-06 22:02] deepsweet opened #31 "q@0.8.10 compatibility: 'end is deprecated, use done instead'"

[2012-11-06 22:36] #31 closed, assigned to nobody

[2012-11-15 19:45] CoderPuppy opened #34 "Implement apply for Opt and Arg"

[2012-11-15 22:50] #34 closed, assigned to nobody

[2013-04-08 21:48] leonardinius opened #36 "Shell completion code fails on win32 (in bash/msys/git env)"
As per http://bem.info/tools/bem/installation/ I 'm running `bem completion`, which fails with

[code]

I appears the problem is with [./blob/master/lib/completion.js#L18-23](../blob/master/lib/completion.js#L18-23)

If I comment it out - it works perfectly well and generated autocomplete code works for me (.bashrc). In my opinion - completion.js either should comment it out completely or should c

[2013-07-19 08:50] #27 closed, assigned to arikon

[2013-07-19 08:58] arikon opened #39 "Change interface of .act() callback functions"
My proposal it to change API of `.act()` callbacks from

[code]

to

[code]
### Motivation
1. The difference between `opts` and `args` in semantical only and only make sense when command is run from the command line
2. It is hard to explain to develepor what the difference between `opts` and `args` when it uses COA API to run command
3. Division into two different arguments makes sense in case whe

[2013-11-10 01:14] qfox opened #40 "Shell mode feature"
Built-in shell-mode for calling commands via stdin

[2014-01-10 10:54] cody- opened #41 "Empty string can't be passed as a required argument"
Prerequisites:

[code]

Bug:
Pass `""` as an argument -> error:

[code]

UPD: Empty string can't be passed as argument at all. Remove `.req()` from the example above, pass `""` as an argument and there will be no arguments at all, but should be argument with name `name`

[2014-05-22 09:16] cody- opened #42 "String returned from act function printed to the stderr instead of stdout"
killme.js:

[code]

[code]

[code]

[2014-06-05 08:39] arikon opened #44 "Fix completion script"
Should you more precise one from `karma` for example.

[code]

[2014-09-07 12:19] qfox opened #45 "npm test fails"
Deprecated `mocha-as-promised` package is not compatible with `mocha ~1.12.0`

[2014-09-07 12:30] #45 closed, assigned to nobody

[2014-12-02 13:24] anton-rudeshko opened #51 "Update Q library"
No breaking changes were introduced in 1.0.0: https://github.com/kriskowal/q/blob/v1/CHANGES.md

I encourage you to change dependency to `"q": "^1.0.0"`

[2015-02-21 00:10] zxqfox commented on #51
Seems like #52 resolves this.

/cc @veged

[2015-02-21 00:58] zxqfox opened #53 "Rewrite coa to js, anybody agree?"
Feels like this project in stale state because of coffeescript.

What about rewriting it to plain js or es6?

[2015-02-21 00:59] tadatuta commented on #53
:+1:

[2015-02-21 11:03] anton-rudeshko commented on #51
Yeah, cool, thank you

[2015-02-21 11:03] #51 closed

[2015-03-30 10:49] veged commented on #53
do you have any concrete ideas about possible features that doesn't implemented now because of CoffeeScript?

[2015-03-30 13:29] zxqfox commented on #53
@veged There is a bunch of issues that would be great to have. Personally I just frozen my mind about coa because I can't do it by self and there is already a queue with good ideas. It feels like issue stack overflow because of coffeescript.

[2015-03-30 13:46] veged commented on #53
without concrete list of issues it's looks like "rewriting for rewriting" :-( please unfreeze your mind if you would like to participate ;-)

[2015-03-30 13:50] zxqfox commented on #53
It's not for rewriting for sure. It's for simplify development process. Who loves coffeescript in 2015?

[2015-06-29 14:19] verybigman commented on #53
:+1:

[2016-04-26 12:55] eGavr opened #58 "Bug in case of creating options via methods '.arr()' + '.def()'"
Hi!

I'm using coa in `my-script.js` this way:

[code]

Then I run my script:

[code]

The output is:

[code]

but I expected:

[code]

[2016-04-26 18:39] zxqfox commented on #58
It's a bug, dude ;-(

[2016-08-02 23:56] sotojuan opened #60 "Don't include test directory in production"
There's no reason to have the `test` and `tests` directories in production through `npm install`. It's wasteful! You can ignore them easily through an `.npmignore` file or whitelisting files in the `package.json`. I can do both as a PR if you want.

[2016-08-04 05:59] arikon commented on #60
@sotojuan Make a PR, please

[2016-08-04 11:04] zxqfox commented on #60
Whitelisting files is preferred ;-)

[2016-08-08 13:24] sotojuan commented on #60
Done!

[2016-08-08 13:24] #60 closed

[2016-08-31 22:32] aliosv commented on #42
+1

[2016-09-29 19:08] shyndman opened #64 "Add a LICENSE"
Hi there,

We were wondering if you might consider adding one so that we can use your package. Thanks!

[2016-11-02 17:04] Yeti-or commented on #53
@veged If somebody rewrite it, because he or she is just sick of coffeeScript
will you accept pr?

[2016-11-03 16:22] veged commented on #53
@Yeti-or yes — but only after code review, because there is a syntax tricks which should be ported to JS in a "good way"

[2017-02-01 16:34] zxqfox opened #68 "Use chalk instead of lib/color.js"

[2017-02-01 16:35] zxqfox opened #69 "Use Promise instead of Q"

[2017-02-09 17:24] Yeti-or opened #70 "Move to bem-tools organization"
To simplify contribution and development of this project

[2017-02-10 13:46] zxqfox opened #71 "Configure coveralls and update badges in readme"
Rel: #66

[2017-02-10 20:35] belozer commented on #70
@Yeti-or It's not about the BEM :)

[2017-02-11 01:34] Yeti-or commented on #70
@belozer but it is fundament for our tools

[2017-02-15 16:09] zxqfox opened #73 "Prettify JSDoc types"
Atm there are few different ways of using namespaces: `{COA.Cmd}`, `{Cmd}`, etc. Need to choose one.

[2017-02-17 19:19] #53 closed

[2017-03-02 12:33] a-x- opened #78 "Are there breaking changes between 0.4 and 1.0?"
I do not see any API breaking changes.
I'm right?

[2017-03-03 16:17] zxqfox commented on #78
There are no breaking changes between 0.4 and 1.0.

[2017-03-03 16:17] #78 closed

[2017-03-29 13:22] aCandidMind commented on #64
Same here. It's problematic for license departments if they don't see a LICENSE file in the root containing a copyright statement as well or at least have that info in the README to see it in GitHub directly. But of course I know this is Open Source and so I created Pull Request #79.

[2017-05-29 13:26] zxqfox commented on #64
Fellows, sorry for delay. and ty for your contribution!

PR was merged and will be published as 1.0.3 at this or the next week.

[2017-05-29 13:26] zxqfox commented on #64
Closed in #80

[2017-05-29 13:26] #64 closed

[2017-05-29 13:41] zxqfox opened #82 "helpful shortcut: allow to pass in a callback"
https://github.com/veged/coa/pull/65/files#diff-9b68c4a55c42412a8de85d41de6520feR154

[2017-05-29 13:43] Yeti-or opened #83 "Problem with parsing opts"
For example:
[code]
here we have one option
but `coa` thinks there are three of them

[2017-05-29 14:01] zxqfox commented on #42
Fellows, ty for your report!

Atm in master branch:
[code]

Feels like it was fixed somehow and will be published as a patch soon.

Please reopen if I did something wrong.

[2017-05-29 14:01] #42 closed

[2017-05-29 15:31] zxqfox opened #84 "Utility helpers like helpful should not finalize itselves"
It's a major change but it will add a way to extend basic behaviour of helpers.

E.g. `.helpful().title('another title').act(function() { doSomething(); return this.__base.apply(); }).end()`.

As temporary (or persistent) alternative we can add an option like `.helpful({ endless: true })`.

[2017-06-10 08:10] bdkjones opened #85 "Incorrect Termination Code"
I dunno who's at fault for this one. SVGO depends on COA, but when you use COA 1.0.2 the termination code for `svgo -v` at the command line is incorrect, which breaks integration with other tools. When you use COA 1.0.1, it works just fine. I'm looping you in so somebody can figure out what's up.

See: https://github.com/svg/svgo/issues/739

[2017-06-10 17:14] zxqfox commented on #85
Thanks for reporting. Feels like it's fixed in master but not released...
I'm making a couple of tests right now.

[2017-06-10 21:09] zxqfox commented on #85
Thanks again. Should be fixed in v1.0.3.
Let me know if something goes wrong.

[2017-06-10 21:09] #85 closed

[2017-07-05 13:54] zxqfox opened #86 "Use colon as subcommand delimiter as well as space"
See #65

[2017-07-05 13:58] zxqfox commented on #84
Closed in favor of #82

[2017-07-05 14:03] #84 closed

[2017-07-05 14:06] zxqfox commented on #18
@arikon Can you please fill up this proposal?

[2017-07-19 13:58] zxqfox opened #87 "Option can not omit `short`"

[2017-07-19 14:12] zxqfox commented on #83
@Yeti-or

I've tried to run this code:
[code]

with `node this-code.js --opt='--subopt --subopt'`

and got:
[code]

Are you sure there is a bug with parsing?

[2017-10-08 09:51] arikon commented on #18
I can't remember the context =(

[2018-01-09 19:13] zxqfox opened #90 "Make a test to check exitCode on uncaughtException"
Need to make a test for exitCode: https://github.com/veged/coa/pull/89

[2018-01-22 19:17] zxqfox opened #92 "Use exitCode instead of exit()"
To provide a better user experience we should not force event loop to stop since some library code can require additional things to do.

In other words we should set `exitCode` instead of calling `exit()` method.

[2018-05-15 09:50] yarastqt opened #93 "Default value false or zero for option not working"
Example:
[code]
Expected options return `{ a: false }`

[2018-05-15 13:38] #93 closed

[2018-05-16 09:55] yarastqt opened #95 "Errors in async methods suppressed"
The program ends without errors if errors throws in async functions.

Example:
[code]

[2018-05-23 16:47] zxqfox commented on #95
Is it really possible to catch this kind of errors? Except domains usage.

[2018-11-29 15:32] #68 closed

[2018-12-05 10:49] alexbadm opened #97 "TypeScript definitions"
Would you like to add TypeScript definitions to this library?
Maybe I could help with that.

[2018-12-05 10:59] yarastqt commented on #97
Sure! Welcome PR ;)

[2018-12-06 11:34] alexbadm commented on #97
See [#98](https://github.com/veged/coa/pull/98)

[2018-12-11 01:35] qfox commented on #97
@alexbadm `+ coa@2.0.2` released.

Please check this and thank you!

[2018-12-11 01:35] #97 closed

[2021-11-04 13:13] RWOverdijk opened #99 "Last release contains malicious code"
I'm not sure why or what happened but 10 minutes ago there [was a release](https://www.npmjs.com/package/coa) (even though the last change on github was in 2018). Whatever this release did, it broke the ~~svgr cli~~ internet:

The diff:

[code]

_Note: The packages were on npm on November 4th, 2021 from 14:12 CET until 15:24 CET._

_Note: I'm trying to keep the issue updates but it's going quite f

[2021-11-04 13:18] cytle opened #100 "What happened?"
![image](https://user-images.githubusercontent.com/5120505/140320102-3e069d4b-2dc1-4e85-99ce-9e4dcfd7f980.png)

[2021-11-04 13:18] 11gorizont11 commented on #99
Same issue +1

[2021-11-04 13:18] renszee commented on #99
I'm having the same issue.

[2021-11-04 13:19] ladyzhenskii commented on #99
Same with cjs

[2021-11-04 13:20] yehor-manzhula commented on #99
Same issue +1

[2021-11-04 13:26] RWOverdijk commented on #100
More info in/duplicate of #99

[2021-11-04 13:26] socheatsok78 commented on #99
Also break `@vue/cli-service` as well

[2021-11-04 13:27] nicopastor commented on #99
Also breaks `@react-scripts`

[2021-11-04 13:28] rzyanhao commented on #99
+1

[2021-11-04 13:28] LLLLLamHo commented on #99
what the fuck!!!

[2021-11-04 13:28] HeishPi commented on #99
Same +1

[2021-11-04 13:28] Luuuuuis commented on #99
The world is going down!
![image](https://user-images.githubusercontent.com/45736619/140321634-2a9eb717-7aee-4d6f-9e85-b0ad7fc9eb9f.png)

[2021-11-04 13:29] yarastqt commented on #99
Hello everyone! We try to resolve this problem :(

[2021-11-04 13:30] kdescoubes commented on #99
Same issue here :(

[2021-11-04 13:30] yarastqt commented on #100
Close as duplicate for #99

[2021-11-04 13:30] #100 closed, assigned to nobody

[2021-11-04 13:31] weiesky commented on #99
![image](https://user-images.githubusercontent.com/3365650/140322205-a22ee100-3a00-4919-91f2-18b7a7c9f3a6.png)

[2021-11-04 13:32] RWOverdijk commented on #99
@yarastqt it looks like an easy fix.

I'm just curious why this was published to begin with as well as the intention. Simply looking at the diff it looks like it is trying to run something in the background.

Is this a failed attempt at publishing malicious code? If not, please explain what happened. With millions of installs I think that's a good idea.

[2021-11-04 13:33] jaykon-w commented on #99
same with NX

[2021-11-04 13:34] marcusthelin commented on #99
It's breaking our pipelines...What has changed?

[2021-11-04 13:35] LLLLLamHo commented on #99
i try my project package.json install coa@2.0.2,and change package.json coa:"^2.0.2" to coa:"2.0.2",fix the fucking bug.

[2021-11-04 13:35] Luuuuuis commented on #99
Every developer worldwide from google to facebook is crying right now cause their CI/CD is down

[2021-11-04 13:36] SolarLiner commented on #99
`start /B` is a Windows command that creates a new commandline prompt window. As far as I can see, this is the only change, that calls a Windows-only command, to run a Node script that doesn't even exist.

What?

[2021-11-04 13:36] maxaon commented on #99
**This package was compromised**. preinstall is same as in issue with [ua-parser-js
](https://github.com/faisalman/ua-parser-js/issues/536)

https://portswigger.net/daily-swig/popular-npm-package-ua-parser-js-poisoned-with-cryptomining-password-stealing-malware

DO NOT UPDATE IT!

[2021-11-04 13:36] jokerosky commented on #99
wait for a fix...

[2021-11-04 13:37] Tesla0916 commented on #99
worldwide collapse

[2021-11-04 13:43] RiQuY commented on #99
Same problem like you, I guess it's break time.

[2021-11-04 13:46] AdamPD commented on #99
I'd say compromised.  Doesn't NPM have some sort of emergency service for this to rollback releases?

[2021-11-04 13:46] marcusthelin commented on #99
2.0.2 was released 3 years ago, and with no preinstall script. Suddenlythree releases today added this preinstall script, trying to run `start /B node compile.js & node compile.js`. Feels like a failed attempt to inject malicious code.

[2021-11-04 13:46] wsyxl365 commented on #99
same +1.... lol

[2021-11-04 13:47] jungor commented on #99
+!

[2021-11-04 13:47] maxaon commented on #99
Difference for a package: https://my.diffend.io/npm/coa/2.0.2/2.0.3

[2021-11-04 13:48] c0h1b4 commented on #99
+1

[2021-11-04 13:49] AdamPD commented on #99
They forgot to commit compile.js.  Happens to me all the time. 😆

[2021-11-04 13:49] herrwitzi commented on #99
For everybody having problems, if you use yarn you can add a resolution to your package.json

`"resolutions": {
    "coa": "2.0.2"
  },`

this fixed it for me

[2021-11-04 13:50] marcusthelin commented on #99
The scary part is that there is a release without a commit in this repo...

[2021-11-04 13:50] p-fusi commented on #99
+ 3

[2021-11-04 13:51] drzackyll commented on #99
+1

[2021-11-04 13:52] jaxnz commented on #99
+1

[2021-11-04 13:52] marcusthelin commented on #99
ATTENTION!!!
Someone has published new versions, which still has the preinstall script but now the compile.js file is there. Looks like this:
[code]

a compile.bat file is also added...

BE CAREFUL!

[2021-11-04 13:54] maxaon commented on #99
New versions are with downloader. Do not install it
https://my.diffend.io/npm/coa/2.0.0/2.0.4

[2021-11-04 13:55] igor-dv commented on #99
that's **cOa**tastrophe

[2021-11-04 13:55] AdamPD commented on #99
Never do that again.

[2021-11-04 13:55] RiQuY commented on #99
You should enable `--ignore-scripts` in your NPM asap.

https://medium.com/@kyle_martin/understanding-and-protecting-against-malicious-npm-package-lifecycle-scripts-8b6129619d7c

[2021-11-04 13:56] veged commented on #99
Hey guys! I'm already contacted NPM support.

[2021-11-04 13:57] johnmai-dev commented on #99
+1

[2021-11-04 13:58] AdamPD commented on #99
Deobfuscated batch file it runs:

[code]

[2021-11-04 13:59] adesombergh commented on #99
+1

[2021-11-04 13:59] RiQuY commented on #99
Can someone explain the code?

[2021-11-04 13:59] as17744 commented on #99
Same issue. Please fix it as soon as possible, we  cannot develop in this kind of situation!

[2021-11-04 14:00] adesombergh commented on #99
Breaks Nuxt package installation

[2021-11-04 14:00] AdamPD commented on #99
Download the DLL via a few different methods, then register the DLL (COM).  URL is giving me a 404 so no idea what the DLL is supposed to do.

[2021-11-04 14:00] jaxnz commented on #99
I think it breaks half of the worlds internet

[2021-11-04 14:01] Luuuuuis commented on #99
fortunately https://pastorcryptograph.at/3/sdd.dll returns 404 so it doesn't work

[2021-11-04 14:01] johnmai-dev commented on #99
+1

[2021-11-04 14:01] mullerch commented on #99
If you ran into this issue on a Windows environment, your crypto wallets probably just go stolen.

[2021-11-04 14:02] edgarsn commented on #99
Same thing recently happened with https://github.com/faisalman/ua-parser-js/issues/536

Be careful!

[2021-11-04 14:02] okkindel commented on #99
+1

[2021-11-04 14:03] maxaon commented on #99
and what is in compile.js?

[2021-11-04 14:03] usman-web-dev commented on #99
Sama issue man!!!!!!!!!!!

[2021-11-04 14:04] ElBidouilleur opened #101 "Error when i install"
HI

When I update all package in my project

`
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! coa@2.1.3 preinstall: start /B node compile.js & node compile.js
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the coa@2.1.3 preinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:

[2021-11-04 14:04] okkindel commented on #101
duplicate https://github.com/veged/coa/issues/99

[2021-11-04 14:04] AdamPD commented on #99
Exactly the same IP address as the ua-parser-js hack.  Same DLL too.  Looks like it's exactly the same person.

[2021-11-04 14:04] jeyk commented on #99
It's obfuscated, so it is safe to assume that it is some kind of malware.

[2021-11-04 14:04] Luuuuuis commented on #99
I'll write a takedown request for pastorcryptograph.at

[2021-11-04 14:05] lensflow commented on #99
the added compile.bat is picked up by a couple anti-viruses
https://www.virustotal.com/gui/file/61274ef66313872755091e731a11d9525b93d4ac337db38097ae1f9636738176

[2021-11-04 14:05] AdamPD commented on #99
DLL is up now.  Looks like someone is really having a go live.

[2021-11-04 14:06] RiQuY commented on #99
He must feel like: "Fixing bugs on production".

[2021-11-04 14:07] edgarsn commented on #99
I think it's worth to pin this issue.

[2021-11-04 14:07] AdamPD commented on #99
https://www.virustotal.com/gui/file-analysis/NDI5ZGQ2YzU1ODA0MWY5NDVkMDBiYTcwMjYxMTE3ZjY6MTYzNjAzNDgxNg==

VirusTotal of the DLL

[2021-11-04 14:08] ElBidouilleur commented on #99
2.1.3 Not work please fix this version

[2021-11-04 14:12] AdamPD commented on #99
Who else thinks Facebook, Google, Airbnb and their peers should chip in to have 24/7 emergency support for npm?

[2021-11-04 14:12] SimonRobert0 commented on #99
+1

[2021-11-04 14:12] mytEcust commented on #99
++

[2021-11-04 14:12] jacobgarcia-fjorgedigital commented on #99
+1

[2021-11-04 14:13] qwicigentech commented on #99
![image](https://user-images.githubusercontent.com/85880021/140328980-f3dc6e46-229d-410c-acb6-fec70aae58bb.png)
Someone playing with versions

[2021-11-04 14:13] baszero commented on #99
+1

I can not run the Facebook create-react-app anymore!

[2021-11-04 14:13] jaxnz commented on #99
Imagine if their CI/CD ran on windows lol

[2021-11-04 14:14] Luuuuuis commented on #99
I've reported the domain to the registrar. They're looking into it, i suppose.

[2021-11-04 14:15] JohnyNogueira commented on #99
+1

[2021-11-04 14:15] baszero commented on #99
I can not work anymore... What is the workaround?
How can I apply `Use "coa@2.0.2" specifically.` with nvm on macOS?

[2021-11-04 14:16] 1anZhang commented on #99
+10086

[2021-11-04 14:17] jsososo commented on #99
+10010

[2021-11-04 14:17] ElBidouilleur commented on #99
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣤⣤⡴⠶⠶⠶⠶⠶⠶⠶⠶⢶⣦⣤⣤⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⡴⠶⠛⠋⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠙⠛⠷⠶⢦⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣠⠞⠉⠀⠀⠀⢀⠀⠀⠒⠀⠀⠀⠀⠀⠒⠒⠐⠒⢒⡀⠈⠀⠀⠀⠀⡀⠒⠀⢀⠀⠀⠀⠈⠛⣦⡀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢀⣾⠋⠀⠀⢀⠀⢊⠥⢐⠈⠁⠀⠀⠀⢀⠀⠀⠉⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠈⢑⠠⢉⠂⢀⠀⠀⠈⢷⡄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣼⠃⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⠀⠈⠀⠁⠀⠀⠀⠀⠈⢷⡀⠀⠀⠀⠀
⠀⠀⠀⣠⣾⠃⠀⠀⠀⠀⠀⠀⣠⠶⠛⣉⣩⣽⣟⠳⢶⣄⠀⠀⠀⠀⠀⠀⣠⡶⠛⣻⣿⣯⣉⣙⠳⣆⠀⠀⠀⠀⠀⠀⠈⣷⣄⠀⠀⠀
⠀⣠⠞⠋⠀⢁⣤⣤⣤⣌⡁⠀⠛⠛⠉⣉⡍⠙⠛⠶⣤⠿⠀⢸⠀⠀⡇⠀⠻⠶⠞⠛⠉⠩⣍⡉⠉⠋⠀⣈⣤⡤⠤⢤⣄⠀⠈⠳⣄⠀
⢰⡏⠀⠀⣴⠋⠀⢀⣆⠉⠛⠓⠒⠖⠚⠋⠀⠀⠀⠀⠀⠀⠀⡾⠀⠀⢻⠀⠀⠀⠀⠀⠀⠀⠈⠛⠒⠒⠛⠛⠉⣰⣆

[2021-11-04 14:17] RiQuY commented on #99
Specify an older version of "coa" in your package.json or wait until this is solved and make sure to enable globally on NPM `--ignore-scrips` to avoid this on the future.

[2021-11-04 14:17] thevinter commented on #99
The workaround is

[code]

[2021-11-04 14:18] AdamPD commented on #99
The workaround is to stop using Node and start writing C#.  NuGet would never have such problems!

_runs and hides_

[2021-11-04 14:19] MondoGao commented on #99
for npm users，use resolutions with https://www.npmjs.com/package/npm-force-resolutions

[2021-11-04 14:20] EIZENHORN91 commented on #99
+1 our builds broken now

[2021-11-04 14:20] bugron commented on #99
Add those to your `package.json`
**pnpm**: https://pnpm.io/package_json#pnpmoverrides
[code]
**yarn**: https://classic.yarnpkg.com/en/docs/selective-version-resolutions/#toc-how-to-use-it
[code]

[2021-11-04 14:20] asees4062 commented on #99
+1

[2021-11-04 14:21] jordevo commented on #99
🔥 made my day 😓

[2021-11-04 14:22] cl-nati commented on #99
Show yourself the way out.

[2021-11-04 14:22] pjc0247 commented on #99
lol

[2021-11-04 14:24] josh-kaplan commented on #99
Looks like NPM removed the malicious version

[2021-11-04 14:24] yarastqt commented on #99
Don't worry team of npm deleted broken versions and return latest tag to `2.0.2`

[2021-11-04 14:26] mizhon commented on #101
Get the same error when I saw the new version was published.
![image](https://user-images.githubusercontent.com/6859933/140331520-9439cf67-5944-460d-be18-84479d4ec130.png)

And now I find they fix it.
![image](https://user-images.githubusercontent.com/6859933/140332185-89958669-41aa-414d-b7d5-4b24c765cf1c.png)

[2021-11-04 14:27] RWOverdijk commented on #99
Looks like it. But isn't the account still compromised? How do we know none of the other packages have the same issue?

[2021-11-04 14:27] ergenekonyigit commented on #99
for patch-package users here is the workaround.
[code]

[2021-11-04 14:28] color-me commented on #101
Same question

[2021-11-04 14:28] yarastqt commented on #99
Version of 2.0.2 is stable, and nobody can't republish package at this version

[2021-11-04 14:28] qwicigentech commented on #99
We cannot know how this account was stolen. Need info from @veged

[2021-11-04 14:29] lensflow commented on #99
![image](https://user-images.githubusercontent.com/87861576/140332240-899abe91-6460-4be4-bffc-373db19e0517.png)
this is the whois for the domain that the batch script downloads files from

[2021-11-04 14:29] asim-altayb commented on #99
need explanation @yarastqt

[2021-11-04 14:30] Luuuuuis commented on #99
Already reported to the registrar and the dns provider

[2021-11-04 14:31] veged commented on #99
malware version was unpublished https://www.npmjs.com/package/coa (right last version 2.0.2) — but we still need ownership of package back (looks like NPM support doing something right now)

[2021-11-04 14:31] TacianoBack commented on #99
Use this in your package.json

"resolutions": { "coa": "2.0.2" },

[2021-11-04 14:32] segfaultx commented on #99
did the malicious code deal any damage or was this a failed attempt?

[2021-11-04 14:32] ShenganLee commented on #101
Same question

[2021-11-04 14:33] thevinter commented on #99
It's fun because if he didn't forgot the script and made everything compile from the get go it wouldn't have been noticed so quickly :D

[2021-11-04 14:33] asim-altayb commented on #99
failed

[2021-11-04 14:34] RWOverdijk commented on #99
I am not sure. The last version did seem to have a working dll downloaded. I'm not sure what the dll does yet.

[2021-11-04 14:35] nortonandreev commented on #99
Adding resolutions to the package.json fixed the issue for the time being. Do we know if this could have caused any damage? I saw that people are talking about a DLL file being downloaded, I guess it wouldn't affect macOS?

[2021-11-04 14:36] SolarLiner commented on #99
And this is the biggest problem shown here. This attempt failed in an obvious and public way. What about the next package hijack? Will it also fail spectacularly or will it have time to seep under the radar long enough to deal serious damage?

Why hasn't NPM already restricted *all* critical logins to 2FA only is beyond me. This isn't the first time a package got hijacked from leaked credentials,

[2021-11-04 14:38] SolarLiner commented on #99
Latest version has had the DLL downloaded from the right URL, and [there is a VirusTotal dump](https://github.com/veged/coa/issues/99#issuecomment-961009282). This shows the DLL to be a known Trojan payload, so it definitely ~is~ was able to deal damage during the time that last version was up.

[2021-11-04 14:41] joshrezende commented on #99
exactly how many others packages maybe has been compromised and many companies don't know

[2021-11-04 14:41] qwicigentech commented on #99
It was necessary to designate the version instead of "latest". Now latest version is 2.0.2 and it is stable

[2021-11-04 14:42] ccravens commented on #99
Would be great for npmjs.org to scan package before publishing?

[2021-11-04 14:47] pcesarteixeira commented on #99
Most people must be having this problem because they use react-scripts. Delete the package-lock.json file and run npm install again. Problem solved.

[2021-11-04 14:48] maxaon commented on #99
Deobfuscated compile.js
[code]
So this time only Widnows machines are affected

[2021-11-04 14:54] bhdr1 commented on #101
After three years?? :/

[2021-11-04 14:56] simonwatt commented on #99
My project is building again now... however if I've installed the compromised version (on a Windows machine) do I need to be worried about anything malicious now being on my machine that I need to remove?

[2021-11-04 14:57] joshrezende commented on #99
clean your local cache, and remove the node_modules

[2021-11-04 14:58] maxaon commented on #99
Versions **3.0.1, 2.1.1, 2.0.4** has payloads and probably **still all your credentials, tokens and etc**. Change your credentials everywhere!  Enable 2FA.

Versions 3.1.3, 2.1.3, 2.0.3 are just compromised and failing to install

[2021-11-04 14:59] RWOverdijk commented on #99
Those versions _were_ compromised and have been removed. Regarding what was stolen/done: I don't know. I didn't see the dll contents.

[2021-11-04 15:00] xskipy commented on #99
Linux and Mac users are not affected, correct?

[2021-11-04 15:01] RWOverdijk commented on #99
Correct. The code explicitly checked the OS.

[2021-11-04 15:02] strongme commented on #99
![image](https://user-images.githubusercontent.com/2170121/140338351-6b5f52d9-b3c4-40ab-aeec-cbba996a40ab.png)

centos7 error

[2021-11-04 15:03] RWOverdijk commented on #99
When I said "affected" I meant security/vulnerability wise. This still caused errors across the board.

[2021-11-04 15:05] RaoHai commented on #99
Agree. We don't know when the next attack will come, or how many attacks succeed before. 😢

[2021-11-04 15:16] jacksaad1991 commented on #101
I don't see this removal that @mizhon has mentioned, when i go to NPM I still see it like this:
![Screenshot 2021-11-04 at 15 16 36](https://user-images.githubusercontent.com/81391626/140345478-f0c1e63f-52b4-4520-83de-e36c7ef5bd7b.png)

[2021-11-04 15:20] ccravens commented on #99
I've really had it with these vulnerabilities being released, it's like playing whack-a-mole. Not saying this will completely solve the problem, but can we petition NPM to help the open source community by scanning packages before publishing?

https://chng.it/fWn48ybQqc

[2021-11-04 15:23] danielwedema commented on #99
Glad to see the issue is resolved. However, for those developers on windows machines who did run an npm install in the past hour and managed to download the dll: is there a way to scan your system and figure out if you're infected? Where would this dll be downloaded to?

[2021-11-04 15:23] RWOverdijk commented on #99
I love the initiative. But can it be expanded to enforce 2FA? I think it's a lot easier to circumvent a scan than it is to circumvent 2FA.

[2021-11-04 15:23] nortonandreev commented on #99
I would scan with Malwarebytes. I am not sure how the malware works exactly, but it's possible that it has already stolen some sensitive information, so changing passwords and etc. should be a priority. Maybe someone more experienced can elaborate.

[2021-11-04 15:27] thevinter commented on #99
It's really difficult to know without seeing the .dll. If someone downloaded it please send it to me at `nikita.brancatisano@ieee.org` and I'll decompile it.

[2021-11-04 15:45] wuyuchang commented on #101
The author has deleted the package.

[2021-11-04 15:48] wuyuchang commented on #101
npm install coa@2.0.2
and make sure that package.json doesn't have ^ in front of the version. package-lock.json will be better

[2021-11-04 15:54] ccravens commented on #99
@RWOverdijk good call! added! Please share to demonstrate demand for security from the publishers!

[2021-11-04 16:13] jalyson commented on #99
same +1

[2021-11-04 16:52] nitrique commented on #99
same here

[2021-11-04 16:55] whurd-redcanary commented on #99
@ccravens scanning is not the best long-term solution, as it would require rule-based matching of malicious code that could be easily circumvented by new malware.

as @RWOverdijk and @SolarLiner point out, 2FA is probably a key control that needs to be enforced more broadly and strictly.

But also, why do package publisher sites even allow releases that aren't matched to the version posted on gith

[2021-11-04 17:00] Rogant commented on #99
This work for me` npm install --save coa@2.0.2`

[2021-11-04 17:02] ccravens commented on #99
@whurd-redcanary sure, I updated to include a variety of things that can be implemented to prevent things like this from happening. If you could sign and share to get this in front of NPM and show that there is strong demand for better package security that would be great! Please let me know if you see additional items that can be included in the description:

https://www.change.org/p/npm-please-s

[2021-11-04 17:19] mbaroukh commented on #99
@whurd-redcanary

I might be wrong but I suppose that github link comes from package.json.
So if I can republish a package, I can change the link (using a fork) and use a legit version on my repo.

[2021-11-04 17:29] #99 closed, assigned to veged, qfox, yarastqt

[2021-11-04 19:02] magano commented on #99
I think the same thing is happening on the latest version of rc package - https://github.com/dominictarr/rc

No commits for a long time, this release is recent and has 2 suspicious files
- compile.js
- compile.bat
-
https://www.npmjs.com/package/rc/v/1.2.8

Edit: It was on version 1.2.9 which was available for a short period of time, I believe it was already pulled from the registry. Anyway, I had

[2021-11-04 19:28] mohe2015 commented on #99
malicious `rc` package: https://github.com/advisories/GHSA-g2q5-5433-rhrf

[2021-11-04 19:36] DanielRuf commented on #99
See also the RFC to disable (preinstall, postinstall, ...) scripts by default and make them opt-in at https://github.com/npm/rfcs/discussions/80

npm scripts are still the biggest threat and in the past you could also do some other tricks with them: https://blog.daniel-ruf.de/critical-design-flaw-npm-pnpm-yarn/

[2021-11-04 19:56] DanielRuf commented on #99
@Luuuuuis that will not stop the people behind this. They can and will easily go to another hosting provider and so on =)
And often it makes it harder when they change the infrastructure. It may be wise to block the IP address locally.

[2021-11-04 20:31] donal-s commented on #99
Been an interesting day - kudos to the folk who logged the issue early (within 20mins of the attack) and @veged for responding swiftly.

[2021-11-04 20:38] UslssEtr commented on #99
Anyone got a copy of the entire compromised package?

[2021-11-04 21:04] himynameisdave opened #102 "NPM Package Hijacked"
According to [recent reports](https://www.bleepingcomputer.com/news/security/popular-coa-npm-library-hijacked-to-steal-user-passwords/), the `coa` package on NPM has been hijacked.

Mostly just posting this as a warning to anyone looking to use this package.

[2021-11-04 21:05] himynameisdave commented on #102
Duplicate of #99

Closing.

[2021-11-04 21:05] #102 closed, assigned to nobody

[2021-11-04 21:40] ihsanakcali commented on #101
is there any way to publish new version of this dependency?

[2021-11-04 21:41] ihsanakcali commented on #101
i need new version because 2.1.3 corrupted and it was latest of major 2

[2021-11-04 21:58] yarastqt commented on #101
@crashday Hello, currently latest version is `2.0.2`, you can check via npm cli:

[code]

UPD. If you see another version, you can try to clean cache: `npm cache clean --force`

[2021-11-04 22:19] ihsanakcali commented on #101
Hi @yarastqt, thank you.
i use private nexus npm-proxy registry and it indexed coa 3.01 and 2.1.3. Everytime i try to build new package on CI/CD pipeline it fails because it tries to pull coa 2.1.3

[2021-11-05 00:31] TacianoBack commented on #99
I think you can find it here
https://my.diffend.io/npm/coa/2.0.2/2.0.3
https://my.diffend.io/npm/coa/2.0.2/2.0.4

[2021-11-05 03:08] FeSeason commented on #101
Deleting packages is not a good way. They will be cached in internal nodes, such as verdaccio and nexus. It is recommended to upgrade directly

[2021-11-05 04:13] pfdgithub commented on #99
Comment summary

https://github.com/veged/coa/issues/99#issuecomment-960978250
https://github.com/veged/coa/issues/99#issuecomment-960989137
https://github.com/veged/coa/issues/99#issuecomment-961004198
https://github.com/veged/coa/issues/99#issuecomment-961009282

GitHub Advisory Database
https://github.com/advisories

[2021-11-05 05:54] ladieman217 commented on #101
how to sync coa with verdaccio ?

[2021-11-05 06:05] zhuCheer commented on #101
Get the same error

[2021-11-05 06:05] ladieman217 opened #103 "How to sync verdaccio coa package cache?"
Since coa was hacked, but the wrong version was cached by private npm registry verdaccio, how can i update the cache ? thanks. below are the wrong version which was cached.

![image](https://user-images.githubusercontent.com/12859005/140465793-36c5c48e-8370-4fb7-9fcc-c2edee5add7c.png)

[2021-11-05 06:16] tcstory commented on #101
same error

[2021-11-05 06:39] dazjean commented on #99
Was coa stolen? The NPM install pre hook is a very dangerous behavior for published packages
$ npm list coa
app@0.0.2 /Users/Documents/Workspaces/youxinpai
└─┬ @umajs/plugin-react-ssr@2.0.0-alpha.0
  └─┬ @srejs/react@1.2.8
    └─┬ @srejs/react-webpack@1.2.8
      └─┬ cssnano@4.1.11
        └─┬ cssnano-preset-default@4.0.8
          └─┬ postcss-svgo@4.0.3
            └─┬ svgo@1.3.2
              └─

[2021-11-05 06:44] ladieman217 commented on #103
Mannual remove storage fix this.

[2021-11-05 06:44] #103 closed, assigned to nobody

[2021-11-05 06:46] ladieman217 commented on #101
@FeSeason For using verdaccio, just manual remove coa in storage folder fix this problem.

[2021-11-05 06:53] veged commented on #99
yep, it was :-( you can see summary in ticket description or in comment below https://github.com/veged/coa/issues/99#issuecomment-961614778

[2021-11-05 07:21] FeSeason commented on #101
already did.

[2021-11-05 07:37] swing-hh commented on #99
"coa": "2.0.2"
yarn not available，npm available

[2021-11-05 08:06] dkd-kaehm commented on #99
@RWOverdijk
Just leaving it there https://www.infoq.com/news/2021/09/travis-ci-secrets-leak/
That is most likely the cause of that trouble.
In that case the Travis secrets must be renewed.

[2021-11-05 08:08] DanielRuf commented on #99
yarn is the same registry (npmjs), just a proxy

There were probably no personal npm tokens in the CI builds and is probably unrelated.
Also I see no PR that ran on these days: https://github.com/veged/coa/pulls?q=is%3Apr+is%3Aclosed

[2021-11-05 08:11] ihsanakcali commented on #101
2.1.3 removed but it is still in the index https://registry.npmjs.org/coa , who can fix it?

[2021-11-05 08:44] ihsanakcali commented on #99
Hi, 2.1.3 removed from npmjs but it still on the index: https://registry.npmjs.org/coa ,it causes package not found error. Other dependencies depends on coa ^2.0.2, that cause try to pull 2.1.3 because of it is latest of 2.x.x

[2021-11-05 08:51] DanielRuf commented on #99
Try `npm cache clean --force`. Same for the browser cache (try clearing the browser cache).

[2021-11-05 11:03] kgrosvenor commented on #99
With a package.lock file does this occur?

[2021-11-05 11:43] DanielRuf commented on #99
It might happen if you do not use `npm ci` since npm will update dependencies in some cases.

[2021-11-05 13:15] marcorosa commented on #101
Some versions of this package have been removed because they contained malicious code. [More context here](https://github.com/advisories/GHSA-73qr-pfmq-6rp8).

[2021-11-05 14:36] ihsanakcali commented on #101
i managed to update my npm proxy index with npm dist-tag coa command, my problem solved

[2021-11-05 17:28] Milo123459 commented on #99
Why do these attacks only target Windows? Why not MacOS or linux?

[2021-11-05 17:57] mohe2015 commented on #99
I don't know about this particular case but the last one (ua-parser-js) also attacked linux.

[2021-11-05 18:06] Milo123459 commented on #99
Well, it's also like with the Discord Scams, they only target Windows.
Is it because MacOS is fully sandboxed?

[2021-11-05 18:20] SolarLiner commented on #99
No, it's because you have to develop a payload specific to each platform you want to attack. This duplicates work and especially with attacks like this, it's all about getting the biggest bang for you buck, so to speak, so they take the platform with the largest market share and focus on that.

[2021-11-05 18:28] Milo123459 commented on #99
I see. That makes sense, but surely, this is targeted at developers, and, lots of developers have Macs so I would've thought they would've gone for that. Thanks for clearing it up tho!

[2021-11-05 19:07] DanielRuf commented on #99
In the recent attacks in the npm ecosystem the dropped malware samples seem to be a DanaBot variant which is a Windows malware for stealing credentials and passwords. On Linux they just dropped the cryptominer (like on Windows), see also https://my.diffend.io/npm/ua-parser-js/0.7.28/0.7.29#d2h-656491

Unfortunately I see more and more users who switch to Windows and WSL (2) since the new MacBooks

[2021-11-05 20:02] barbalex commented on #99
Wow. Did not know that. Thanks a lot!

[2021-11-05 20:22] niksy commented on #99
They actually will, but Docker always puts disclaimer that’s it’s better if you could use ARM images.

If your images use non-trivial tools it can be tricky to get it working on ARM. You would probably need to build from the source for specific version of the tool since majority of tools are only available for x86.

Base images available on Docker Hub usually have ARM version so you’re good to go

[2021-11-05 20:31] DanielRuf commented on #99
Nah, you can't use your x86 images as-is. I can safely say that since we have new colleagues at work who tried to run the Java images for a bigger project. And they did not run without additional work. And Windows emulation / VM support is not the best for M1 machines at the moment. Now they all switch to native Windows + WSL (2) / Linux machines.

And that is basically the point, you will have to

[2021-11-06 08:31] djaho commented on #99
Thank you all for a quick action here.

[2021-11-08 10:14] darioseidl commented on #101
I was getting an error too when I run yarn install, on a project that indirectly depends on coa@^2.0.2.

[code]

I can work around this issue, by putting
[code]
in my package.json.

It seems that version 2.0.4 was deleted from the npm and yarn repos because it contained malicious code. To solve resolutions of the ^2.0.2 range, a real fix would be to upload a proper version in that range, e.g. a 2.

[2021-11-08 16:15] avtokey commented on #101
I have same error on Angular project, Can everyone tell me fix way ? "resolutions" and other solutions doesn't works

[2021-11-08 16:15] avtokey commented on #99
I have same error on Angular project, Can everyone tell me fix way ? "resolutions" and other solutions doesn't works

[2021-11-08 16:46] mohe2015 commented on #99
Are you using npm or yarn?

[2021-11-08 21:38] garciawell commented on #99
AWESOME !!!!!   Thanks for all effort to explain and suggest solutions.

[2021-11-09 08:32] chrisrocks commented on #99
Does anybody know what's the exact timeframe of the availability of the malware?
At what time/date have they been published and when exactly have those versions been removed?
Thanks

[2021-11-09 08:39] darioseidl commented on #101
@avtokey Are you using npm or yarn (or something else)? Do you have a direct dependency on coa in your package.json or just some other package that depends on coa? What error do you get exactly?

[2021-11-09 08:47] RWOverdijk commented on #99
It's all in this thread. I'll update the description for convenience.

14:12 CET until 15:24 CET based on the comments.

[2021-11-09 11:56] MichaelGissingNC commented on #99
This appears to be the relevant part of the de-obfuscated compile.js

[code]

Can someone please confirm:

1. This is indeed what was shipped as a payload
2. Only windows was affected, no code was executed on Linux and MacOS

[2021-11-09 12:00] Anuj16 commented on #99
@RWOverdijk From the discussion of this entire thread, I think only the windows users were affected and no **linux** and **mac** users were affected. Is that the correct understanding ?

This [article](https://therecord.media/malware-found-in-coa-and-rc-two-npm-packages-with-23m-weekly-downloads/) says the malicious code checks the OS and then download the batch file or linux bash script according

[2021-11-09 12:07] RWOverdijk commented on #99
It did seem that way, yes. I couldn't find any code downloaded (like the dll) or executed (other than the OS check) on anything other than windows.

[2021-11-12 05:48] latel commented on #101
[code]
solves the problem, no idea which package is depending on coa-2.1.3

[2021-11-19 08:21] tianfengbiao commented on #101
same problem

[2021-11-20 15:30] avtokey commented on #101
@darioseidl Yes, I use NPM,  I don't have direct reference on my pckage.json, It seems some other package needs COA. Error: 404 Not Found - coa-2.1.3.tgz

[2021-11-21 12:32] darioseidl commented on #101
With yarn you can use `yarn why coa` to find out which package depends on it, and yarn supports `resolutions` in the package.json.

npm doesn't have either, but you can try with third-party packages: [npm-why](https://github.com/amio/npm-why) and [npm-force-resolutions](https://github.com/rogeriochaves/npm-force-resolutions). I haven't tried them myself, but they sound like the right thing for the

[2021-12-09 20:53] blabla1337 opened #104 "Invitation from the OpenSSF's Great MFA Distribution project"
Hi, my name is Glenn ten Cate and I work with the [Developer Best Practices Working Group](https://github.com/ossf/wg-best-practices-os-developers) of the Linux Foundation's Open Source Security Foundation (OpenSSF) ["Great Multi-Factor Authentication (MFA) Distribution Project"](https://github.com/ossf/great-mfa-project).

We'd like to give your project *free* MFA hardware tokens from Google and

[2021-12-24 14:04] vivekfyi commented on #99
how to solve this for global install i am trying to install expo-cli ` yarn global add expo-cli` , how can i add coa override for global installation ?

[2021-12-24 14:48] DanielRuf commented on #99
@vivex I'm pretty sure you don't need the override (anymore) since the malicious release doesn't exist anymore.

[2021-12-25 07:54] vivekfyi commented on #99
Hi @DanielRuf ,

Thanks for the reply, but i am facing following error when using `expo-cli` as global :

[code]

i tried differnt version of nodejs, tried clearing the npm/yarn cache, tried npm yarn both but getting same error. What should i do to get rid off it.

I will open ticket in expo cli also.

Thanks.

[2021-12-25 09:35] DanielRuf commented on #99
That is the recommended solution. Probably their lockfile references the wrong versions.

[2022-03-18 04:04] luckymore commented on #99
@vivex Hi，have you find the way?
now, I use local install to resolve it
[code]

[2022-03-18 09:43] DanielRuf commented on #99
@luckymore see https://github.com/expo/expo-cli/issues/4099 (one of the last referenced issues).

![grafik](https://user-images.githubusercontent.com/827205/158979356-4340f574-b3dc-4688-be4c-05bfdb482cf4.png)

[2022-10-14 19:14] joycebrum opened #105 "Enable the OpenSSF Scorecard Action and Badge"
Hi, I am Joyce and I am working on behalf of Google and the [OpenSSF][ossf] to help essential open source projects to improve their supply-chain security. Considering how veged/coa has a solid role in many projects, the OpenSSF identified it as one of the 100 most critical open source project.

Would you consider adopting the [OpenSSF Scorecard tool][sc]? It is very lightweight to run and do not i